body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  font-family: "Public Sans", sans-serif;
  justify-content: center;
  height: 100%;
}

.my_photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.ndtv_photo {
  width: 53px;
  border-radius: 5px;
}

.sidenavbar_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15rem;
  height: fit-content;
  position: sticky;
  top: 0;
}

.sidenavbar_left_buttons {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  padding: 0.9rem;
  margin: 2px;
  border: none;
  background-color: white;
  border-radius: 1.5rem;
  cursor: pointer;
}

.sidenavbar_left_buttons:hover {
  background-color: #e1e8ed;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  padding-top: 1rem;
  border-right: 0.2px solid rgb(219, 218, 218, 0.5);
  border-left: 0.2px solid rgb(219, 218, 218, 0.5);
  /* overflow-x: hidden; */
}

.sidenavbar_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23rem;
  height: fit-content;
  position: sticky;
  top: 0;
}

.home_btn {
  font-weight: 600;
}

.twitter_logo {
  color: #1da1f2;
  border: none;
  background-color: white;
  font-size: 28px;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
}

.twitter_logo:hover {
  background-color: rgb(232, 241, 254);
}
.tweet_button {
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  width: 80%;
  background-color: #1da1f2;
  padding: 13px 10px;
  border: none;
  border-radius: 30px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.left_btn {
  margin-left: 1rem;
}
#btn_for_you {
  color: black;
  font-weight: 700;
  border-bottom: 4.4px solid #1da1f2;
  /* border-radius: 4px; */
}

#home_page_sticky {
  width: 40rem;
  /* padding: 2px; */
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
 
}

.title_home {
  margin-top: 0;
  font-size: 1.3rem;
  padding-left: 1rem;
}

#home_page_moving {
  width: 40rem;
}
.explore_tweets_buttons {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
}
.explore_button {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  color: #576774;
  padding: 18px 30px;
  margin: 0;
  border: none;
  background-color: white;
  backdrop-filter: blur(12px);
  border-bottom: 0.2px solid rgb(219, 218, 218, 0.5);
  cursor: pointer;
}

.explore_button:hover {
  background-color: #e1e8ed;
}
.swati_account {
  display: grid;
  grid-template-columns: 61px 137px auto;
  align-items: center;
  margin-top: 3rem;
  padding: 0 10px 0 8px;
  border-radius: 2rem;
  cursor: pointer;
}

.swati_account:hover {
  background-color: #e1e8ed;
}

#swati_profile {
  font-size: 0.9rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  line-height: 20px;
}

.post_tweet {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.3rem;
  padding: 0 1rem 1rem 1rem;
}
.whats_happening {
  font-family: "Public Sans", sans-serif;
  font-size: 1.32rem;
  font-weight: 500;
  color: #576774;
  letter-spacing: 0.7px;
}

.links_tweet {
  display: flex;
  align-items: center;
  gap: 15rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 4rem;
  width: fit-content;
  block-size: fit-content;
}
.link_buttons {
  display: flex;
  gap: 15px;
}

.link_btn {
  width: 20px;
  height: 20px;
  fill: rgb(29, 155, 240);
}

.tweet_button2 {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9rem;
  /* width: 100%; */
  background-color: #1da1f28f;
  padding: 11px 24px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.icons-1 {
  color: #1da1f2;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}

.icons-1:hover {
  background-color: rgb(232, 241, 254);
}

.icons-2 {
  color: #657786;
  margin-left: 0.8rem;
}

#icons-2 {
  padding: 1.4rem;
}

.tweet_image {
  border-radius: 12px;
  width: 32rem;
  height: 20rem;
  margin-left: 0.8rem;
}

.NDTV_image {
  width: 27rem;
  border-radius: 12px;
  margin-left: 0.8rem;
}
.show_tweets {
  border-bottom: 0.2px solid rgb(219, 218, 218, 0.5);
  border-top: 0.2px solid rgb(219, 218, 218, 0.5);
  width: 40rem;
  text-align: center;
  cursor: pointer;
}

.show_tweets:hover {
  background-color: #f5f8fa;
}

.show_tweets h3 {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  color: #1da1f2;
  font-weight: 500;
}

/* .tweets_container {
  
}*/

#more {
  margin-right: 10px;
}
.--replied {
  display: flex;
  align-items: center;
  margin-left: 3.5rem;
  color: #657786;
}

.--replied p {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 0.8rem;
}

.tweet_img {
  width: 20px;
}

.tweet {
  display: flex;
  padding: 0.5rem 0 0.5rem 1.3rem;
  /* margin: 1rem; */
  border-bottom: 0.2px solid rgb(219, 218, 218, 0.5);
  width: 40rem;
  cursor: pointer;
  width: fit-content;
  block-size: fit-content;
}

.tweets:hover {
  background-color: #f5f8fa;
}

.tweet_content h3 {
  padding-top: 0;
  margin-top: 0.5rem;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  padding-left: 0.8rem;
  display: flex;
  align-items: center;
  /* letter-spacing: 0.6px; */
  margin: 0;
  cursor: pointer;
}

#profile_name:hover {
  border-bottom: 0.5px solid black;
}

/* .tweets_content h3:hover {
  /* border-bottom: 0.5px solid black; 
} */
.tweet_id {
  color: #657786;
  font-size: 0.9rem;
  font-weight: 500;
}

.p-1::after {
  content: "\a";
  white-space: pre;
}
.p {
  /* padding-left: 0.8rem; */
  margin: 0.5rem 0;
  line-height: 2.5rem;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.83);
}

.p-1 {
  padding-left: 0.8rem;
  margin: 0.5rem 0;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5rem;
}

.p1,
.p3 {
  padding-left: 0.8rem;
  margin: 0.5rem 0;
  /* line-height: 2.5rem; */
}

.reply_tweet_id {
  color: #1da1f2;
}

.pmoModi {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.flag_img {
  width: 12px;
  height: 20px;
}

.search_bar {
  background-color: rgb(239, 243, 244);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9rem;
  color: #657786;
  font-weight: 500;
  padding: 0 0 0 0.9rem;
  border-radius: 20px;
  width: 20rem;
  margin-left: 2rem;
  position: fixed;
  margin-top: 5px;
}

.trending_tweets_title {
  padding: 0.5rem 1rem 0.8rem 0.8rem;
}

.trending_tweets_title h2 {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  /* font-weight: bold; */
}

.trending_tweets {
  background-color: #f5f8fa;
  /* padding-left: 1rem; */
  width: 21rem;
  margin-left: 2rem;
  margin-top: 4rem;
  border-radius: 20px;
}

.trending_tweet {
  font-family: "Public Sans", sans-serif;
  padding: 0.8rem 0 0.8rem 1rem;
  line-height: 21px;
  cursor: pointer;
}

.trending_tweet:hover {
  background-color: #e1e8ed;
}

.trending_tweet p,
.people_info p {
  font-size: 0.8rem;
  margin: 0;
  color: #657786;
}

.trending_tweet h2,
.people_info h3 {
  font-size: 0.9rem;
  margin: 0;
}

.show_more {
  font-size: 1rem;
  color: #23addc;
  padding: 0.8rem;
  margin: 0;
  font-weight: 300;
  cursor: pointer;
}

.show_more:hover {
  background-color: #e1e8ed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.show_more p {
  margin: 0;
}

.who_to_follow {
  background-color: #f5f8fa;
  /* padding-left: 1rem; */
  width: 21rem;
  margin-left: 2rem;
  margin-top: 1.3rem;
  border-radius: 15px;
}

#tushar_profile {
  margin-top: 0;
}
.people_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.people_profile:hover {
  background-color: #e1e8ed;
}
.bottom_text,
.twitter_rights {
  margin-left: 3rem;
  line-height: 0;
  font-size: 0.8rem;
  color: #657786;
  display: flex;
  gap: 0.7rem;
}

.bottom_text p:hover {
  /* border-bottom: 0.5px solid black; */
  cursor: pointer;
}

.people_info h3,
.people_info p {
  margin: 0;
}

.follow_btn {
  color: white;
  background-color: black;
  padding: 0.4rem 0.9rem;
  border-radius: 22px;
  font-weight: 700;
}

#footer {
  display: none;
}

@media only screen and (max-width: 999px) {
}

@media only screen and (max-width: 450px) {
}
